# Ignore the .env file
.env

# Ignore node_modules directory (if you're using Node.js)
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build directories
dist/
build/
