body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: inline-flex;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.navigation {
    width: inline;
}

nav button {
    font-family: inherit;
    font-size: medium;
    height: 50px;
    width: 150px;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
}

.logo-btn-nav {
    height: 50px;
}

.save-writing {
    /* set dimensions */
    width: 4cm;
    height: 4cm;
    
    /* add the background image */
    background-image: url("/static/assets/library.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* update border */
    border: 0px solid transparent;

    /* optional: remove default button text */
    color: transparent;
}

#story {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit;
    font-size: medium;
}

#title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: inherit;
    font-size: medium;
}

.help {
    border-width: 0px;
    border-radius: 100%;
    padding: 0px;
    margin-right: 10px;
    border-radius:10px;
    width: 2.25cm;
    background-color: transparent;
}

.new-prompt {
    border-width:0px; border-radius:100%; padding:0px;
    margin:0px;
    border-width:2px; border-radius:10px;
    width:4cm;
    background-color: transparent;
    border: 0px solid black;
}

.promptl-text {
    font-size:28px;
    color:#FF5349;
    font-size:28px;
}

.writing-info {
    color:#00008B;
    padding-left:5px;
}