body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
}

nav {
    display: inline-flex;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    font-family: inherit;
}

nav button {
    font-family: inherit;
}

.logo-btn-nav {
    height: 50px;
}

nav button {
    height: 50px;
    width: 150px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.save-writing {
    /* set dimensions */
    width: 4cm;
    height: 4cm;
    
    /* add the background image */
    background-image: url("/static/assets/library.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* update border */
    border: 0px solid transparent;

    /* optional: remove default button text */
    color: transparent;
}

input[type=search]::-webkit-input-placeholder { /* Safari, Chrome(, Opera?) */
    color:gray;
    font-style:italic;
}