{% extends "layout.html" %}
{% block content %}

<div align='center' style="margin-left:20%; margin-right:20%">
	<b style='font-size:18px; color:#FF5349'>Why Promptl?</b><br>
	
	I am passionate about creative writing, but I understand that not everyone feels the same way. I was inspired to develop Promptl by my younger sister, who has dyslexia. As a result of this learning difference, she saw writing as a chore. I created Promptl to help kids like her develop writing skills in a fun and rewarding way.<br><br><br>

	<b style='font-size:18px; color:#FF5349'>How does it work?</b><br>
	
	Promptl will generate five random words to use in a short story, which includes a character, occupation, thing, place, and bonus word (which is worth twice as much as the other words). To encourage some thought, a minimum of 70 words (about five lines of text) is required to achieve any points at all, and surpassing 100 words (about seven lines of text) will get you an additional 25 points beyond the Promptl word point awards.
	<br><br><br>
</div>

{% endblock %}