{% extends "layout.html" %}
{% block content %}

<div align='center'>

	<img src="/static/logo.png" align='center' style='width:10cm'>
	
	<br>
	
	<h3>Create an Account:</h3>

	<form method="post" action="/signup-check">
		<label for="username">Username:</label>
		<input type="text" name="username">

		<br><br>

		<label for="password">Password:</label>
		<input type="password" name="password">

		<br><br>

		<label for="parent_email">Parent Email:</label>
		<input type="input" name="parent_email">

		<br><br>

		<input type="submit" value="Submit">
	</form>
</div>
{% endblock %}