{% extends "template.html" %}
{% block content %}
	
<div align='center' class="promptl-welcome">
	<b class="promptl-text">Welcome to Promptl!</b><br><br>

	<b style="font-size:20px">Use the words below in your story!</b>
	
	<br><br>
</div>
	
<div align='center'>
	<table align="center" style="width:auto">
		<tr>
			<td>✏️ </td>
			<td class="writing-info">Each Promptl word is worth 10 points. The bonus word is worth 20 points.</td>
		</tr>

		<tr>
			<td>✏️ </td>
			<td class="writing-info">You need to write at least 70 words to be awarded any points for your story.</td>
		</tr>

		<tr>
			<td>✏️ </td>
			<td class="writing-info">If your story is greater than 100 words, you will get an extra 25 points!</td>
		</tr>
	</table>

	<br>

	<span style='font-size:16px; color:#FF5349'><i>Please don't reload this page while you are writing (the prompts will change).</i></span>
</div>

<br>

<div align='center'>
	<a href='/new-prompt'><button class="new-prompt"><img src='/static/assets/generate.png' class="new-prompt"></button></a>

	<br><br>
	
	<table align='center' style='width:200px'>
		<tr align='center' style='width:40px'>
			<td align='center' style='padding-left:20px; padding-right:20px'>
				<img src='static/assets/name.png' style="width:3cm">
			</td>

			<td align='center' style='padding-left:20px; padding-right:20px'>
				<img src='static/assets/job.png' style="width:3cm">
			</td>

			<td align='center' style='padding-left:20px; padding-right:20px'>
				<img src='static/assets/thing.png' style="width:3cm">
			</td>

			<td align='center' style='padding-left:20px; padding-right:20px'>
				<img src='static/assets/place.png' style="width:3cm">
			</td>

			<td align='center' style='padding-left:20px; padding-right:20px'>
				<img src='static/assets/bonus.png' style="width:3cm">
			</td>
		</tr>
		
		<tr align='center' style='width:40px'>
			<td align='center' id='name'  style='padding-left:20px; padding-right:20px'>
				<b>{{ name }}</b>
			</td>
			
			<td align='center' id='job' onclick='showRandomFrom("jobs.txt")' style='padding-left:20px; padding-right:20px'>
				<b>{{ job }}</b>
			</td>
			
			<td align='center' id='object' onclick='showRandomFrom("objects.txt")' style='padding-left:20px; padding-right:20px'>
				<b>{{ object }}</b>
			</td>
			
			<td align='center' id='place' onclick='showRandomFrom("places.txt")' style='padding-left:20px; padding-right:20px'>
				<b>{{ place }}</b>
			</td>
			
			<td align='center' id='bonus' onclick='showRandomFrom("bonus.txt")' style='padding-left:20px; padding-right:20px'>
				<b>{{ bonus }}</b>
			</td>
		</tr>
	</table>

	<br>
	
	<a href="https://www.thesaurus.com" target="_blank">
		<button class="help"><img class="help" src="/static/assets/help.png"></button>
	</a>

</div>
	
<br>
	
<form action='/save-writing' method='post'>
	<label for='title' style='padding-right:10px'>Title:</label>
	<input type="text" name='title' id="title" placeholder='Your Title Here...'>

	<br>

	<textarea name="story" id="story" rows="10" cols="90" placeholder='Start Typing Here...'></textarea>

	<br>

	<button type="submit" class="save-writing"><img src="/static/assets/save.png" alt="save writting button with an open book" class="save-writing-img"></button>
</form>

{% endblock %}