{% extends "template.html" %}
{% block content %}
	
<div align='center' class="promptl-welcome">
	<b class="promptl-text">Welcome to Promptl!</b><br><br>

	<b style="font-size:20px">Use the words below in your story!</b>
	
	<br><br>
</div>
	
<div align='center'>
	<table align="center" style="width:auto">
		<tr>
			<td>✏️ </td>
			<td class="writing-info">Each Promptl word is worth 10 points. The bonus word is worth 20 points.</td>
		</tr>

		<tr>
			<td>✏️ </td>
			<td class="writing-info">You need to write at least 70 words to be awarded any points for your story.</td>
		</tr>

		<tr>
			<td>✏️ </td>
			<td class="writing-info">If your story is greater than 100 words, you will get an extra 25 points!</td>
		</tr>
	</table>

	<br>

	<span style='font-size:16px; color:#FF5349'><i>Please don't reload this page while you are writing (the prompts will change and your writing will disappear).</i></span>
</div>

<br>

<div align='center'>
	<a href='/new-prompt'><button class="new-prompt"><img src='/static/assets/generate.png' class="new-prompt"></button></a>

	<br><br>
	
	<div class="prompts-flex">
        <div class="flex-item">
            <img src='static/assets/name.png'>
            <b>{{ name }}</b>
        </div>

        <div class="flex-item" onclick='showRandomFrom("jobs.txt")'>
            <img src='static/assets/job.png'>
            <b>{{ job }}</b>
        </div>

        <div class="flex-item" onclick='showRandomFrom("objects.txt")'>
            <img src='static/assets/thing.png'>
            <b>{{ object }}</b>
        </div>

        <div class="flex-item" onclick='showRandomFrom("places.txt")'>
            <img src='static/assets/place.png'>
            <b>{{ place }}</b>
        </div>

        <div class="flex-item" onclick='showRandomFrom("bonus.txt")'>
            <img src='static/assets/bonus.png'>
            <b>{{ bonus }}</b>
        </div>
    </div>

	<br>
	
	<a href="https://www.thesaurus.com" target="_blank">
		<button class="help"><img class="help" src="/static/assets/help.png"></button>
	</a>

</div>
	
<br>
	
<form action='/save-writing' method='post'>
	<label for='title' style='padding-right:10px' id="title-label">Title:</label>
	<input type="text" name='title' id="title" placeholder='Your Title Here...'>

	<br>

	<textarea name="story" id="story" rows="10" cols="90" placeholder='Start Typing Here...'></textarea>

	<br>

	<button type="submit" class="save-writing"><img src="/static/assets/save.png" alt="save writting button with an open book" class="save-writing-img"></button>
</form>

{% endblock %}