{% extends "layout.html" %}
{% block content %}

<div align='center'>
	<h2 style="padding-top:10px">My Account</h2>
	
	<p><b>Username:</b> {{ users.username }}</p>
	<p><b>Parent Email:</b> {{ users.parent_email }}</p>

	<form action='/my-account/edit'>
		<input type="submit" value="Edit Parent Email">
	</form>

	<br>

	<table align='center'>
		<tr>
			<td style="padding:10px">My Streak:</td>
			<td style="padding:10px">{{ users.streak }} stories</td>
		</tr>
		
		<tr>
			<td style="padding:10px">Total Points:</td>
			<td style="padding:10px">{{ users.points }} points</td>
		</tr>

		<tr>
			<td style="padding:10px">Total Words Written:</td>
			<td style="padding:10px"> {{ total_words }} words</td>
		</tr>
<!-- 
		<tr style="padding:10px">
			<td style="padding:10px">Prizes Claimed:</td>
			<td style="padding:10px">{{ users.prizes }} prizes</td>
		</tr> -->
	</table>

	<br>
	
</div>
	
{% endblock %}