{% extends "template.html" %}
{% block content %}

<div align='center'>
	<h2 style="padding-top:10px">My Account</h2>
	
	<p><b>Username:</b> {{ username }}</p>

	<br>

	<table align='center'>
		<tr>
			<td style="padding:10px">My Streak:</td>
			<td style="padding:10px">{{ streak }} stories</td>
		</tr>
		
		<tr>
			<td style="padding:10px">Total Points:</td>
			<td style="padding:10px">{{ points }} points</td>
		</tr>

		<tr>
			<td style="padding:10px">Total Words Written:</td>
			<td style="padding:10px"> {{ total_words }} words</td>
		</tr>
	</table>

	<br>
	
</div>
	
{% endblock %}