{% extends "template.html" %}
{% block content %}

<div align='center' style='margin-left:50px; margin-right:50px'>
	<h2 align="center">Prior Pieces</h2>

	<table class="table table-hover" style="width:80%">
			<tr>
				<th scope="col">Story Name</th>
				<th scope="col">Word Count</th>
				<th scope="col">Points Earned</th>
				<th scope="col">Actions</th>
			</tr>
	{% for story in stories %}
			<tr>
				<td class="table-data">
					{{ story.title }}
				</td>
				<td class="table-data">
					{{ story.word_count }}
				</td>
				<td class="table-data">
					{{ story.points }}
				</td>
				<td class="table-data">
					<a href="/read-story/{{story._id}}" style="text-decoration:none; color:blue">Read</a> | <a href="/edit-story/{{story._id}}" style="text-decoration:none; color:forestgreen">Edit</a>
				</td>
			</tr>
	{% endfor %}		
	</table>
</div>

{% endblock %}