<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promptl</title>
        <link rel="shortcut icon" href="/static/assets/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/styles.css">
        <script type="text/javascript" src="/static/script.js"></script>
    </head>

    <body>
        <br><br><br>

        <img src="/static/assets/logo.png" alt="promptl logo with a lightbulb as the O" height="100">

        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}

        <h2>Reset Password</h2>

        <form action="/reset-password" method="post">
            <label for="username">Username:</label><br>
            <input type="text" name="username">

            <br><br>

            <label for="new-password">New Password:</label><br>
            <input type="password" name="new-password">

            <br><br>

            <input type="submit" value="Reset Password">
        </form>

        <br>

        <p>Remembered your password? <a href="/login">Login</a>.</p>
    </body>
</html>